@model Employee
@{
    ViewData["Title"] = "create";
}

<h1>Update Employee</h1>
<form asp-controller="Employees" asp-action="edit" class="my-3">
    @Html.HiddenFor(Model=>Model.Id);
    <div class="my-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="my-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>

